*.txt
*.mps
*.sol
*.cmd
*.code-workspace
**/__pycache__/
output/*
archive/*
solver/*
*/.ipynb_checkpoints/*
data/fplreview.csv
data/kiwi.csv
data/TransferAlgorithm.csv
data/login.json
run/results/*.csv
